{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<title>Poll App</title>
{% if latest_question_list %}
<div>
    <h1>Select a Question</h1>
    <ul>
        {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
</div>
{% else %}
<p>No polls are available.</p>
{% endif %}