div {
    font-family:sans-serif;
    text-align: center;
    background-color: green;
    border: 3px solid green;
    color: white;
    border-radius: 50px;
    width: 75%;
    margin: auto;
    height: 90%;
    padding: 10px;
}
a {
    color: white;
    transition: 00.5s;
    padding: 20px;
}

li {
    padding: 20px;
    margin: 0px;
}

a:hover {
    background-color: white;
    color: green;
    transition: 0.5s;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
    width: 100%;
}
